label {
    font-size: 18px;
    color: rgb(18, 65, 110);
}

input {
    border: 1px solid green;
    border-radius: 5px;
}

.btn1, .btn2 {
    border-radius: 5px;
    color: white;
}

.btn1 {
    background-color: green;
}

.btn2 {
    background-color: red;
}

